
<div class="section-colored" ng-controller="ChatCtrl" ng-keyup=>

    <div class="container">

        <div class="row">        
            <div class="col-lg-4">
				<embed
				    id="tv"
				    name="tv"
				    type="application/x-vlc-plugin"
				    pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2"
				    width=481 height=435
				    autoplay="yes"
				    enablejavascript="true"
				    target="http://192.168.178.20:8080"
				    windowless="true"
				   
				    />
				     
				 <!--  target="http://192.168.0.101:8080" dfki -->    
				 <!--Midgard  target="http://192.168.178.20:8080" -->
				<!--Kuranes  target="http://192.168.178.33:8080" -->
				<!--DFKI  target="http://192.168.1.188:8080" -->
				<!-- Midgard Internet target="http://92.192.114.154:8080" -->
            </div>
            <div class="col-md-4">

				<div class="row">
                	<div>
               			<!--  <div class="form-group col-lg-4"><input type="text" name="author" class="form-control" id="userField" value="Username" ng-model="author" /></div>-->
	                    <div class="clearfix"></div>
	                    <div class="panel panel-default" style="min-height: 571px; max-height: 571px;overflow-y: scroll;" scroll-glue>
		                    <div class="panel-body" ng-repeat="msg in msgs | limitTo: -35"
						        ng-class="msg.author !== author ? 'others' : ''"
						        data-ng-show="hidden == false" data-ng-hide="hidden == true"
						        data-ng-animate="'fadeIn'" style="padding-left: 15px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px;">
		                        <strong>{{msg.author}}:</strong> {{msg.message}}<button type="button" class="btn btn-success btn-xs pull-right" ng-click="upvoteMsg(msg)" ng-disabled="upvotedAuthors.indexOf(msg.author) > -1 || msg.author == author || msg.author == '[SYSTEM]' || upvotesLeft < 1" ng-show="msg.author !== author && msg.author !== '[SYSTEM]' && gamification">+</button>
		                    </div>
	                	</div>

				        <form ng-submit="submitMsg()"  class="form-horizontal pull-right">
							<input type="text" name="chat" id="textField" ng-model="inputText" />
                        	<button type="submit" class="btn btn-primary">Submit</button>
				        </form>

                    </div>
                    <!--  
                    <div class="form-group col-lg-8">
                        <label for="input4">Message</label>
                        <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
					-->
                    
                </div>
            </div>
           	<div class="col-md-4">
           			<alert ng-show="latestAlert" type="{{latestAlert.type}}" close="dismissAlert()">{{latestAlert.msg}}</alert>
	                <div class="panel panel-default" ng-show = "gamification">
	                    <div class="panel-heading">
	                        <h4><i ng-model="currentMode" class="fa fa-users"></i>  Agenda  </h4>
	                    </div>
	                    <div class="panel-body">
	                    <b>{{agendaText}}</b><br>
		                   <!--   <div ng-controller="ProgressDemoCtrl"> -->
		                    <progress ng-show="agendaSet"><bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}"><span >{{bar.value}}%</span></bar></progress> <!-- ng-hide="bar.value < 5" -->
		                    <button ng-click="agendaSuccess()" ng-hide="agendaVoted" type="button" class="btn btn-success btn-xs"><i class="fa fa-thumbs-up"></i></button>  <button ng-click="agendaFail()" ng-hide="agendaVoted" type="button" class="btn btn-danger btn-xs"><i class="fa fa-thumbs-down"></i></button><button ng-click="agendaDeny()" ng-hide="agendaVoted" type="button" class="btn btn-warning btn-xs pull-right">deny</button>
		                    <!-- </div> -->
		                    
	                    </div>

	                </div>
	        </div>
	        <div class="col-md-4">
	                <div class="panel panel-default" ng-show="gamification">
	                    <div class="panel-heading">
	                        <h4><i ng-model="currentMode" class="fa fa-eye"></i>  All Eyes On: <span ng-show="featuredUser" class="label label-default">{{featuredUser}}</span>
</h4>
	                    </div>
	                    <div class="panel-body">
		                    <div class="panel-body" 
						        data-ng-show="hidden == false" data-ng-hide="hidden == true"
						        data-ng-animate="'fadeIn'" style="padding-left: 15px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px;">
		                        <strong ng-show="featuredmsg">{{featuredmsg.author}}:</strong> {{featuredmsg.message}}<button type="button" class="btn btn-success btn-xs pull-right" ng-click="upvoteMsg(featuredmsg)" ng-disabled="upvotedAuthors.indexOf(featuredmsg.author) > -1 || featuredmsg.author == author || featuredmsg.author == '[SYSTEM]' || upvotesLeft < 1" ng-show="featuredmsg.author !== author && featuredmsg.author !== '[SYSTEM]' && featuredmsg">+</button>
		                    </div>
	                    </div>

	                </div>
	            </div>	            
	            <div class="col-md-4">
				        <div class="panel-group" id="accordion">
			        <div class="panel panel-default">
			            <div class="panel-heading">
							<h4 data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"><i ng-model="currentMode" class="fa fa-keyboard-o"></i>  <a>Direct Input Vote: {{userCommand}} </a><span class="label label-success pull-right" ng-show="directInput">active</span></h4>	                   	
			            </div>
			            <div id="collapseOne" class="panel-collapse collapse in">
			                <div class="panel-body">
			                    <input type="text" name="Direct Input" value="Click here to activate Direct Input" readonly="readonly" ng-keyup="sendDirectInput($event)" ng-focus="activateDirectInputMode()" ng-blur="deactivateDirectInputMode()" class="form-control input-normal"/>
	                    	
		                    	<button type="button" class="btn btn-default text-center btn-sm pull-right" data-toggle="modal" data-target="#myModal">Keybindings</button>
	
								<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								        <div class="modal-body">
								            <img src="web/pic/buttons.png" class="img-responsive">
								        </div>
								    </div>
								  </div>
								</div>
							</div>
			            </div>
			        </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree"><i ng-model="currentMode" class="fa fa-fw fa-compass"></i><a>Current Mode: {{currentMode}}</a></h4>
	                    </div>
	                    <div id="collapseThree" class="panel-collapse collapse">
		                    <div class="panel-body">
			                    <select ng-options="o for o in voteOptions" ng-model="userVoted"><option value=''>-- chose gamemode --</option></select>
			                    <button ng-click="submitVote()" class="btn btn-primary">Vote!</button>
	                    	</div>
	                    </div>

	                </div>
					<h4><div class="btn btn-primary" ng-click="showNotifications()" ng-show="gamification"><i class="fa fa-fw fa-tasks"></i>  Notifications  <span class="badge">{{alerts.length}}</span></div></h4>
			    </div>
    		</div>
    

	            

	            
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->


<div class="section" >
    <div class="container">

        <div class="row">

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
       
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
