
<div class="section-colored" ng-controller="ChatCtrl" ng-keyup=>

    <div class="container">

        <div class="row">        
            <div class="col-md-4">
				<embed
				    id="tv"
				    name="tv"
				    type="application/x-vlc-plugin"
				    pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2"
				    width=386 height=571
				    autoplay="yes"
				    enablejavascript="true"
				    target="http://192.168.178.20:8080"
				    windowless="true"
				   
				    />
				     
				 <!--  target="http://192.168.0.101:8080" dfki -->    
				 <!--Midgard  target="http://192.168.178.20:8080" -->
				<!--Kuranes  target="http://192.168.178.33:8080" -->
				<!--DFKI  target="http://192.168.1.188:8080" -->
				<!-- Midgard Internet target="http://92.192.114.154:8080" -->
            </div>
            <div class="col-md-4">

				<div class="row">
                	<div>
               			<!--  <div class="form-group col-lg-4"><input type="text" name="author" class="form-control" id="userField" value="Username" ng-model="author" /></div>-->
	                    <div class="clearfix"></div>
	                    <div class="panel panel-default" style="min-height: 571px; max-height: 571px;overflow-y: scroll;" scroll-glue>
		                    <div class="panel-body" ng-repeat="msg in msgs "
						        ng-class="msg.author !== author ? 'others' : ''"
						        data-ng-show="hidden == false" data-ng-hide="hidden == true"
						        data-ng-animate="'fadeIn'" style="padding-left: 15px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px;">
		                        <strong>{{msg.author}}:</strong> {{msg.message}}<button type="button" class="btn btn-success btn-xs pull-right" ng-click="upvoteMsg(msg)" ng-disabled="upvotedAuthors.indexOf(msg.author) > -1 || msg.author == author || msg.author == '[SYSTEM]'" ng-show="msg.author !== author && msg.author !== '[SYSTEM]'">+</button>
		                    </div>
	                	</div>

				        <form ng-submit="submitMsg()"  class="form-horizontal pull-right">
							<input type="text" name="chat" id="textField" ng-model="inputText" />
                        	<button type="submit" class="btn btn-primary" popover="I appeared on mouse enter!" popover-trigger="mouseenter">Submit</button>
				        </form>

                    </div>
                    <!--  
                    <div class="form-group col-lg-8">
                        <label for="input4">Message</label>
                        <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
					-->
                    
                </div>
            </div>
           	<div class="col-md-4">
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4><i ng-model="currentMode" class="fa fa-users"></i>  Agenda </h4>
	                    </div>
	                    <div class="panel-body">
	                    Short natural language description. <br>
		                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div></div>
	                    </div>

	                </div>
	        </div>
	        <div class="col-md-4">
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4><i ng-model="currentMode" class="fa fa-eye"></i>  All Eyes On: <span ng-show="featuredUser" class="label label-default">{{featuredUser}}</span><i class="fa fa-question pull-right"></i>
</h4>
	                    </div>
	                    <div class="panel-body">
		                    <div class="panel-body" 
						        data-ng-show="hidden == false" data-ng-hide="hidden == true"
						        data-ng-animate="'fadeIn'" style="padding-left: 15px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px;">
		                        <strong ng-show="featuredmsg">{{featuredmsg.author}}:</strong> {{featuredmsg.message}}<button type="button" class="btn btn-success btn-xs pull-right" ng-click="upvoteMsg(featuredmsg)" ng-disabled="upvotedAuthors.indexOf(featuredmsg.author) > -1 || featuredmsg.author == author || featuredmsg.author == '[SYSTEM]'" ng-show="featuredmsg.author !== author && featuredmsg.author !== '[SYSTEM]' && featuredmsg">+</button>
		                    </div>
	                    </div>

	                </div>
	            </div>	            
	            <div class="col-md-4">
				        <div class="panel-group" id="accordion">
			        <div class="panel panel-default">
			            <div class="panel-heading">
							<h4 data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"><i ng-model="currentMode" class="fa fa-keyboard-o"></i>  <a>Direct Input Vote: {{userCommand}} </a><span class="label label-success pull-right" ng-show="directInput">active</span></h4>	                   	
			            </div>
			            <div id="collapseOne" class="panel-collapse collapse in">
			                <div class="panel-body">
			                    <input type="text" name="Direct Input" value="Click here for Direct Input" readonly="readonly" ng-keyup="sendDirectInput($event)" ng-focus="activateDirectInputMode()" ng-blur="deactivateDirectInputMode()" class="form-control input-normal"/>
	                    	</div>
			            </div>
			        </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree"><i ng-model="currentMode" class="fa fa-fw fa-compass"></i><a>Current Mode: {{currentMode}}</a></h4>
	                    </div>
	                    <div id="collapseThree" class="panel-collapse collapse">
		                    <div class="panel-body">
			                    <select ng-options="o for o in voteOptions" ng-model="userVoted"><option value=''>-- chose gamemode --</option></select>
			                    <button ng-click="submitVote()" class="btn btn-primary">Vote!</button>
	                    	</div>
	                    </div>

	                </div>
	                <div class="panel panel-default">
			            <div class="panel-heading">

			            <h4 data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"><i class="fa fa-fw fa-tasks"></i><a>Notifications </a><span class="badge">{{alerts.length}}</span></h4>

			            </div>
			            <div id="collapseTwo" class="panel-collapse collapse">
			                <div class="panel-body">
			                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
			                </div>
			            </div>
			        </div>
			    </div>
    		</div>
    

	            

	            
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->


<div class="section" >
    <div class="container">

        <div class="row">

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
       
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
